@model DemoASPNETCoreMVC.Models.HomeModel;

@{

    ViewData["Title"] = "Home Page";

}

<div>
    <div class="text-center">

        <p><h2 style="color:red">@Model.Message</h2></p>

    </div>
</div>